REGION=
DASHSCOPE_API_KEY=sk-xxxxx
DEFAULT_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# MySQL 数据库配置
MYSQL_HOST=hosts
MYSQL_PORT=3306
MYSQL_DATABASE=xxx
MYSQL_USER=xxx
MYSQL_PASSWORD=xxxx

# 系统提示词缓存秒数，设置为 0 表示每次都查库
PROMPT_CACHE_TTL_SECONDS=30
